@model IEnumerable<AlexDemo.CustomerHub.Presentation.WebUI.Models.ViewModels.Customer.Company.CompanyListItemVm>

@{
    ViewData["Title"] = "Index";
}

<h1>List of companies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@Html.AntiForgeryToken()
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeadOfficeCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnualRevenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfEmployees)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeadOfficeCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualRevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfEmployees)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class="btn btn-link action-edit"}) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class="btn btn-link action-details"}) |
                <button class="btn btn-link action-delete" onclick="deleteEntity('@item.Id', '@Url.Action("Delete", "Company")', 'Company')">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>